{% extends "core/base.html" %}

{% block title %}
    Видалення матеріалу
{% endblock %}

{% block content %}

<div class="container my-4">

    <div class="row justify-content-center">

        <div class="col-lg-7">

            <div class="card border-danger">

                <div class="card-body">

                    <h1 class="text-danger">
                        Видалення матеріалу
                    </h1>

                    <div class="alert alert-warning">

                        <h5>
                            Ви дійсно хочете видалити
                            цей матеріал?
                        </h5>

                        <hr>

                        <p class="mb-1">
                            <strong>Назва:</strong>
                            {{ object.title }}
                        </p>

                        <p class="mb-1">
                            <strong>Тип:</strong>
                            {{ object.get_material_type_display }}
                        </p>

                        <p class="mb-0">
                            <strong>Категорія:</strong>
                            {{ object.category.title }}
                        </p>

                    </div>


                    <form method="post">

                        {% csrf_token %}

                        <button
                            type="submit"
                            class="btn btn-danger"
                        >
                            Видалити
                        </button>

                        <a
                            href="{% url 'materials:material_detail' object.slug %}"
                            class="btn btn-secondary"
                        >
                            Скасувати
                        </a>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}