{% extends "core/base.html" %}

{% block content %}
<h1>{{ category.title }}</h1>

<p>{{ category.description }}</p>
{% if request.user.can_moderate %}
    <a href="{% url 'forum:thread_create' %}">Створити гілку</a>
{% endif %}


<h2>Гілки</h2>

<ul>
    {% for thread in category.threads.all %}
        <li>
            <a href="{% url 'forum:thread_detail' thread.pk %}">
                {{ thread.title }}
            </a>

            <p>Автор: {{ thread.author }}</p>
            <p>Повідомлень: {{ thread.posts.count }}</p>
            <p>Створено: {{ thread.created_at }}</p>
            <p>Остання активність: {{ thread.updated_at }}</p>

            {% if thread.is_closed %}
                <p>Статус: Закрита</p>
            {% endif %}

            {% if thread.is_pinned %}
                <p>Статус: Закріплена</p>
            {% endif %}
        </li>
    {% empty %}
        <p>У цій категорії ще немає гілок.</p>
    {% endfor %}
</ul>

{% endblock %}

