{% extends "core/base.html" %}

{% block content %}
<h1>Форум</h1>

<ul>
    {% for category in categories %}
        <li>
            <a href="{% url 'forum:category_detail' category.slug %}">
              {{ category.title }}
            </a>


            <p>{{ category.description }}</p>

            <p>Гілок: {{ category.threads.count }}</p>

            <p>Повідомлень: {{ category.posts_count }}</p>

            <p>Остання активність: {{ category.updated_at }}</p>
        </li>
    {% endfor %}
</ul>

{% endblock %}

