<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>

<h1>назва проекту</h1>
<h1>опис проекту</h1>
<img src="Kazzik.jpg" alt="Логотип компанії" width="200" height="100">


<button type="button" onclick="showMessage()"> матеріали </button>

<button type="button" onclick="showMessage()"> опитування </button>

<h5>сайт не є справжім казино</h5>
<h5>не використовує справжні гроші</h5>
<h5>створений для навчання</h5>
<h5>пояснює принцип роботи азартних механік</h5>
<h5>допомагає розпізнавати маніпуляції</h5>

<button type="button" onclick="showMessage()"> навчальні матеріали </button>
<button type="button" onclick="showMessage()"> тематичні опитування </button>
<button type="button" onclick="showMessage()"> форум </button>
<button type="button" onclick="showMessage()"> учнівські роботи </button>
<button type="button" onclick="showMessage()"> галерея </button>
<button type="button" onclick="showMessage()"> календар подій </button>

<h3>що треба знати про азартні механіки</h3>

<h4>Ефект майже виграшу
Випадкові винагороди
Бажання відігратися
Маніпулятивна реклама</h4>

  <body>
	<script src="index.js"></script>
  </body>
</html>